@import '~antd/dist/antd.css';

.App {
  text-align: center;
  height: 100%;
}

.LoginPage{
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.ant-layout {
  height: 100%;  
  width: 100%;  
}
.ant-layout-header,
.ant-layout-footer {
  background: white;
  color: black;
  min-height: 100px;
  line-height: 100px;
}

.ant-layout-sider {
  background: white;
  color: black;
  min-width: 400px !important;
}

.ant-layout-content {
  padding: 20px;
  background: white;
  color: black;
  min-height: 120px;
  line-height: 120px;
  min-height: 50% !important;
}
.PersonalAreaHeader_AccountBalance{
  position: relative;
  height: 100%;
  width: 20%;
  float: left;
}
.ant-page-header-heading-sub-title{
  font-size: 20px;
}
/* .ant-table-wrapper{
  height: 100% !important;
} */

.site-card-wrapper {
  background: #ececec;
  padding: 30px;
  height: 100%;
}
.ant-card{
  margin-top: 20px;
  margin-bottom: 20px;
}
.ant-card:hover{
  box-shadow: 0 5px 5px #c0c0c0;
  cursor: pointer;
  transform: scale(1.02);

}
.current{
background: rgba(59, 190, 255, 0.5);
}
.site-page-header {
  border: 1px solid rgb(235, 237, 240);
}

.PersonalAreaAccountCard_content{
  font-size: 32px;
  text-align: start;
  line-height: 50px;
  height: 100%;
  width: 100%;
  margin-left: 40px;
}
.PersonalAreaAccountCard_content span {
  display: block;
}

.userSettingsModal{
  display: flex;
  width: 250px !important;
  height: 80%;
  align-items: center;
  text-align: center;
}

.userSettingsModal_button{
  margin: 10px;
}

.userSettingsModal_card:hover{
  box-shadow: 0 0px 0px #c0c0c0;
  cursor: default;
  transform: scale(1.00);
}

.userSettingsModal_card{
  width: 250px;
}
.userSettingsModal_text{
  display: block;
  font-size: 16px;
  text-align: start;
}

.ant-upload{
  margin-bottom: 20px;
}
.ant-modal{
  width: 300px !important;
}